= title "Avtorji"

.pagination_top
  = paginate collection, window: 3
  %br.clear

- generate_table collection, [:last_name, :first_name, :institution_id], [:show, :edit, :destroy]

.pagination_bottom
  = paginate collection, window: 3
  %br.clear