<div class="row">
  <div class="form-inputs col-xs-8">
    <%= simple_form_for [:admin, @section] do |f| %>
      <%= f.input :name %>
      <%= f.input :position %>
      <div class="form-actions">
        <hr>
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>  
