<div class="form-group">
  <%= f.label label %>
  <div class="input-group date">
    <%= f.text_field field, class: 'form-control' %>
    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
  </div>
</div>
