%script{:src => "https://raw.github.com/blueimp/jQuery-File-Upload/master/js/vendor/jquery.ui.widget.js", :type => "text/javascript"}
%script{:src => "https://raw.github.com/blueimp/jQuery-File-Upload/master/js/jquery.iframe-transport.js", :type => "text/javascript"}
%script{:src => "https://raw.github.com/blueimp/jQuery-File-Upload/master/js/jquery.fileupload.js", :type => "text/javascript"}