<table class="table events">
  <% events.each do |event| %>
    <tr>
      <td><code><%= event.event %></code></td>
      <td><%= event.details %></td>
      <td class="date"><%= l event.created_at, format: :simple %></td>
    </tr>
  <% end %>
</table>