<%= title "Naročilo #{resource.id}" %>

<% if resource.processed? %>
  <h2 class="notice notice-success">
    Naročilo obdelano
  </h2>
<% end %>

<%= generate_fields resource %>

<%= button_to "Ustvari novo stranko", new_from_order_admin_customer_path(order_id: resource.id), method: :post %>
<%= button_to "Označi kot obdelano", mark_processed_order_path(resource), method: :put %>