<h1>Naročilo uspešno oddano</h1>
<p>
  Za vaše naročilo na revijo Vzgojiteljica se vam iskreno zahvaljujemo.
</p>
<p>
  Na vaš e-naslov, ki ste ga navedli v naročilu bi v kratkem morali prejeti potrdilo o naročilu.
</p>
<p>
  Ko naročilo obdelamo, pa vas bomo o tem tudi osebno obvestili na isti e-naslov.
</p>
<br>
<p>
  &mdash; Kolektiv revije Vzgojiteljica
</p>