<%= title "Avtorji" %>

<section>
  <h2>Idejna zasnova</h2>
  <ul>
    <li>Peter Rebernik</li>
    <li><a href='http://miha.rebernik.info'>Miha Rebernik</a></li>
  </ul>
</section>


<section>
  <h2>Oblikovanje spletne aplikacije</h2>
  <ul>
    <li>Patricija Valentinuzzi</li>
  </ul>
</section>


<section>
  <h2>Razvoj spletne aplikacije</h2>
  <ul>
    <li><a href='http://miha.rebernik.info'>Miha Rebernik</a></li>
  </ul>
</section>