<%= title "Navodila za objavo strokovnih besedil" %>

<div class="instructions">
  <p>
    Strokovna besedila so napisana v strokovnem <strong>izrazoslovju</strong>, so <strong>formalizirana</strong>, imajo <strong>standardizirano zgradbo</strong> in <strong>obliko</strong>.
  </p>
  <section class="half left">
    <h2>Vsebina strokovnega članka</h2>
    <p>
      <ul>
        <li>avtorjevo ime in priimek ter pravilni naziv zavoda,</li>
        <li>naslov članka,</li>
        <li>povzetek,</li>
        <li>ključne besede,</li>
        <li>uvod (običajno napoved in teoretične osnove);</li>
        <li>
          Jedro
          <ul>
            <li>predstavitev problema, opis dejavnosti, interpretacija,</li>
            <li>predstavitev raziskave: opis metodologije, prikaz rezultatov, interpretacija, </li>
          </ul>
        </li>
        <li>sklep oz. zaključek,</li>
        <li>literaturo.</li>
      </ul>
    </p>
    <p>
      <strong>Način pisanja</strong> zahteva sistematični miselni tok, jasnost izražanja, pregledno členjenost, utemeljenost in poštenost zapisanega.
    </p>
    <p>
      Prav to zadnje, poštenost, terja od avtorja strokovnega članka dosledno pravilno navajanje drugih avtorjev, ki jih uporablja, navaja, citira. Vsak podatek, vsaka teo- rija, vsaka misel drugega avtorja mora biti pošteno označena. Če tega ne bi delali, zagrešimo plagiat, ki se šteje za duhovno tatvino, ki se lahko preganja.
    </p>
  </section>

  <section class="half right">
    <h2>Citiranje in povzemanje</h2>
    <p>
      Najpogosteje se uporabljata: 1) povzetek in 2) citat.
    </p>

    <p>
      Ob obeh je potreben <strong>takojšnji bibliografski sklic v tekstu</strong>: navedemo torej vir povzetega ali citiranega besedila.
    </p>

    <p>
      Na primer:
      K 1: Važno je, da povsem nedvoumno označimo, kateri deli besedila so <strong>povzeti</strong> po drugem avtorju. Kadar povzemamo, s svojimi besedami povzamemo vsebino misli, zato navedba zaradi svoje splošnosti ne zahteva takšne natančnosti, ampak samo priimek in letnico (Novak 2009).
    </p>

    <p>
      K 2: Citati morajo biti ločeni z narekovaji in umaknjeni v samostojni odstavek,navedena mora biti tudi številka strani. Kadar citiramo, navedemo <strong>natančen prepis avtorjevega besedila v narekovajih</strong>. V tem primeru se v besedilu sklicujemo na avtorja in to zapišemo z navedbo priimka, leta izdaje in stranjo (Novak 2009, str. 13).
    </p>

    <p>
      Literatura mora biti nanizana brez označevanja, toda v abecednem zaporedju. <strong>Naštejemo samo tiste avtorje, ki jih navajamo v besedilu</strong>, na primer: Literatura
      Marjanovič Umek, L. (2004). Razvoj otrokovega govora. Ljubljana: Založba Tiger.
      Kurikulum za vrtce. (1999). Ljubljana:Ministrstvo za šolstvo in Zavod RS za šolstvo. 
      Vrbovšek, B. (2009). Dobro delujoči timi v vrtcih. V: Vzgojiteljica X, št. 4, str. 18–20.
    </p>
  </section>
  <section class="clear">
    <h2>Obseg in format prispekov</h2>
    <p>
      Obseg prispevkov: <strong>največ 3000 besed</strong>.
    </p>
    <p>
      <ul>
        <li>Vsi teksti naj bodo napisani na računalniku v programu WORD, med tekst ne vstavljajte fotografij in računalniških risbic;</li>
        <li>enemu izvodu prispevka obvezno priložite CD ali pa pošljite prispevek na e-naslov urednice (<a href="mailto:betka.vrbovsek@gmail.com">betka.vrbovsek@gmail.com</a>);</li>
        <li>otroške likovne izdelke opremite z imenom avtorja, starostjo otroka, imenom mentorja in vrtca;</li>
        <li>k fotografijam napišite ime in priimek avtorja;</li>
        <li>za objavo fotografij otrok mora imeti vrtec ali vzgojitelj privoljenje staršev;</li>
        <li>uredništvo si jemlje pravico prispevke krajšati in smiselno oblikovati;</li>
        <li>uredništvo ne daje pisnih potrdil o prispevkih in člankih;</li>
        <li>CD-jev in otroških likovnih izdelkov ne vračamo.</li>
      </ul>
    </p>
  </section>
  <section>
    <p>
      Avtor objavljenega prispevka prejme en izvod revije Vzgojiteljica.
    </p>

    <p>
      Strokovnjak oz. znanstvenik, ki da intervju, ima zastonj enoletno naročnino na revijo.
    </p>

    <p>
      V skladu s 17. členom Pravilnika o napredovanju v nazive (Ur. l. RS, št. 54/2002, št. 123/2008) s prvo objavo dobite 3 točke za članke v rubrikah ”Iz teorije v prakso”, ”Za dobro prakso” in za “Aktualno”.
    </p>
  </section>
  <section class="signature">
    <h2>
      Da boste svoje tekste lahko brali na straneh vaše in naše revije, vas prosimo, da napotke upoštevate.
    </h2>
    <p style="text-align: right">
      &mdash; uredništvo revije Vzgojiteljica
    </p>
  </section>
</div>