<table>
  <tr>
    <td width="440" style="width: 440px; text-align: center;">
      <%= image_tag asset_url('vzg_dopis.png') %>

      <p style="width: 440px; margin: 1em 0; padding: 0; font-family: Helvetica, Arial, sans-serif; text-align: left;">Cenjeni naročnik revije Vzgojiteljica,</p>

      <p style="width: 440px; margin: 1em 0; padding: 0; font-family: Helvetica, Arial, sans-serif; text-align: left;">Letos vstopamo v 20 leto izhajanje revije Vzgojiteljica, edine strokovne revije za poklicne vzgojiteljice in vzgojitelje predšolske vzgoje in radi bi se vam zahvalili za vašo zvestobo.</p>

      <p style="width: 440px; margin: 1em 0; padding: 0; font-family: Helvetica, Arial, sans-serif; text-align: left;">
        <strong>Vabimo vas da obnovite vašo naročnino za leto <%= Date.today.year %>.</strong>
        To storite preprosto z obiskom spletne strani, ki smo jo pripravili samo za <%= @customer %>.</p>

      <p style="width: 440px; margin: 1em 0; padding: 0; font-family: Helvetica, Arial, sans-serif; text-align: left;">Spletna stran se nahaja na naslovu: <%= link_to token_url(token: @customer.token), token_url(token: @customer.token) %>, na njej lahko preprosto vnesete številko vaše naročilnice in podpisnika.</p>

      <p style="width: 440px; margin: 1em 0; padding: 0; font-family: Helvetica, Arial, sans-serif; text-align: left;">Če imate kakršnokoli vprašanje, preprosto odpišite na ta e-mail in odgovorili vam bomo v najkrajšem možnem času.</p>

      <p style="width: 440px; margin: 1em 0; padding: 0; font-family: Helvetica, Arial, sans-serif; text-align: left;">Lep pozdrav,
      <br>
      - kolektiv revije Vzgojiteljica</p>
    </td>
  </tr>
</table>
