<table style="width: 440px; margin: 0 auto;">
  <tr>
    <td width="440" style="width: 440px; text-align: center;">
      <%= image_tag asset_url('vzg_dopis.png') %>

      <p style="width: 440px; margin: 2em 0 1em 0; padding: 0; font-family: Helvetica, Arial, sans-serif; text-align: left;">Pozdravljeni!</p>

      <p style="width: 440px; margin: 1em 0; padding: 0; font-family: Helvetica, Arial, sans-serif; text-align: left;">Prva številka letošnje Vzgojiteljice bi že morala biti pri vas, za podaljšanje naročnine pa še vedno potrebujemo vašo naročilnico.</p>
      <p style="width: 440px; margin: 1em 0; padding: 0; font-family: Helvetica, Arial, sans-serif; text-align: left;">
        Da bi vam ta postopek čim bolj olajšali, vam omogočamo, da številko obstoječe naročilnice le vpišete v spletni obrazec, ki se najaha na povezavi:
        <%= link_to token_url(token: @customer.token), token_url(token: @customer.token) %>
      </p>

      <p style="width: 440px; margin: 1em 0; padding: 0; font-family: Helvetica, Arial, sans-serif; text-align: left;">Če imate kakršno koli vprašanje, preprosto odpišite na ta e-mail.</p>

      <p style="width: 440px; margin: 1em 0; padding: 0; font-family: Helvetica, Arial, sans-serif; text-align: left;">Hvala in lep pozdrav,
      <br>
      - kolektiv revije Vzgojiteljica</p>
    </td>
  </tr>
</table>
