/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require admin.scss
 *= require chosen
 */

#container {
  padding-top: 48px;
  position: relative;
}
#container > h1 {
  padding-bottom: 25px;
}
body.entities #container {
  padding: 0;
}

#advanced_search_container {
  background: #efefef;
  padding: 15px 0;
  margin-top: 50px;
}
#advanced_search .results {
  line-height: 34px;
  margin-right: 25px;
}

.muted {
  color: #999;
}

#filter_global {
  width: 300px;
  float: right;
}

#new_filter {
  padding: 0;
}

#header:hover .advanced {
  display: block;
}

#statement_raw {
  overflow: auto;
  max-height: 300px;
}

.rowlinks tr:hover td {
  cursor: pointer;
  background: #efefef;
}

.admin_actions {
  position: absolute;
  top: 75px;
  right: 15px;
}

td.subscriptions .subscription {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
td.subscriptions .subscription:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.row.tools {
  margin-top: 40px;
}

.print_invoices .form-control {
  width: 100px;
}
.panel.remarks table td.remark {
  width: 78%;
}
.panel.remarks .table tr:first-child td {
  border: 0;
}
.panel.remarks table .date {
  text-align: right;
  font-size: 11px;
}
.panel.remarks table small a {
  color: #ccc;
  display: inline-block;
  padding: 0 5px;
}
.panel.remarks table small a:hover {
  background: #ccc;
  color: #333;
}

#invoice_reverse_reason, #remark_remark {
  width: 400px;
}
.table.events {
  font-size: 10px;
}
.table.events tr:first-child td {
  border: 0;
}
.table.events tr:first-child td.date {
  text-align: right;
}
