/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require admin.scss
 *= require chosen
 */

#container {
  padding-top: 48px;
  position: relative;
}
#container > h1 {
  padding-bottom: 25px;
}

.muted {
  color: #999;
}

#filter_global {
  width: 300px;
}

#new_filter {
  position: relative;
}
#new_filter .advanced {
  display: none;
  position: absolute;
  top: 40px;
  right: 0px;
  background: #222;
  white-space: nowrap;
  padding: 10px 12px 15px 15px;
}
#new_filter .advanced input {
  margin-bottom: 10px;
}

#header:hover .advanced {
  display: block;
}

#statement_raw {
  overflow: auto;
  max-height: 300px;
}

.rowlinks tr:hover td {
  cursor: pointer;
  background: #efefef;
}

.admin_actions {
  position: absolute;
  top: 75px;
  right: 15px;
}

td.subscriptions .subscription {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
td.subscriptions .subscription:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.row.tools {
  margin-top: 40px;
}

.print_invoices .form-control {
  width: 100px;
}

#invoice_reverse_reason {
  width: 400px;
}