/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: left;
}

.invoice {
  position: relative;
  padding: 0 50px;
  page-break-after: always;
  page-break-inside: avoid;
  height: 975px;
}

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 50px;
}
table td, table th {
  padding: 5px;
}

table td, table th {
  border-bottom: 1px solid #ccc;
}

.recipient {
  padding-bottom: 95px;
  padding-top: 150px;
  font-size: 16px;
  line-height: 1.4em;
}

header {
  position: absolute;
  right: 50px;
  top: 50px;
  text-align: right;
}
header img {
  width: 50%;
}
header p {
  margin: 5px 0;
}

.details {
  position: absolute;
  top: 310px;
  right: 50px;
}

.items {
  margin-top: 70px;
  font-size: 10px;
}
.items table th {
  background: #efefef;
}

.subtotals {
  float: right;
}

.totals {
  clear: both;
  margin-top: 50px;
  text-align: right;
  font-size: 18px;
}

.instructions {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.instructions p {
  margin: 2px 0;
}

.signature {
  margin-top: 50px;
  position: relative;
}
.signature p {
  text-align: right;
  padding-right: 25px;
}
.signature img {
  width: 175px;
  z-index: -1;
  display: block;
  position: absolute;
  bottom: -40px;
  right: -50px;
}

/* LABELS */
.labels {
  padding: 0 25px;
  page-break-after: always;
  page-break-inside: avoid;
  height: 975px;
  font-size: 12px;
}
.labels .label {
  height: 324px;
  position: relative;
  border-bottom: 1px dashed #ccc;
}
.labels .label p {
  margin: 0.25em 0;
}
.labels .label .logo {
  position: absolute;
  top: 50px;
  left: 0px;
}
.labels .label .logo img {
  width: 50%;
}
.labels .label .address {
  position: absolute;
  left: 0px;
  top: 200px;
  font-size: 16px;
}
.labels .label .postage {
  position: absolute;
  top: 50px;
  right: 0px;
  text-align: right;
}
.labels .label .classification {
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  right: 0px;
  top: 200px;
}
.labels .label .quantity {
  position: absolute;
  top: 50px;
  left: 50%;
}
.labels .label .quantity small {
  font-size: 9px;
}