* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
  font-size: 15px;
  line-height: 1.6em;
  background: url(/assets/ricepaper2.png) repeat;
}

h1 {
  font-family: Georgia;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 30px;
  margin-top: 20px;
  color: rgb(51,49,77);
}

h2 {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}

header .inner, #container {
  margin: 0 auto; 
}

header {
  position: relative;
  height: 85px;  
  /* Gradient */
  background: rgb(51,49,77); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(51,49,77,1) 0%, rgba(60,58,91,1) 30%, rgba(60,58,91,1) 70%, rgba(51,49,77,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,49,77,1)), color-stop(30%,rgba(60,58,91,1)), color-stop(70%,rgba(60,58,91,1)), color-stop(100%,rgba(51,49,77,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(51,49,77,1) 0%,rgba(60,58,91,1) 30%,rgba(60,58,91,1) 70%,rgba(51,49,77,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(51,49,77,1) 0%,rgba(60,58,91,1) 30%,rgba(60,58,91,1) 70%,rgba(51,49,77,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(51,49,77,1) 0%,rgba(60,58,91,1) 30%,rgba(60,58,91,1) 70%,rgba(51,49,77,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(51,49,77,1) 0%,rgba(60,58,91,1) 30%,rgba(60,58,91,1) 70%,rgba(51,49,77,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33314d', endColorstr='#33314d',GradientType=1); /* IE6-9 */
  /* Gradient */
  border-bottom: 2px solid white;
}

.inner h1 {
  font-size: 40px;
  font-family: Pacifico;
  color: #292646;
  line-height: 85px;
  margin: 0;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.12);
  float: left; 
}

.inner, #container {
  width: 880px;
}

#menu {
  float: right;
}

#menu ul li {
  float: left;
  text-decoration: none;
  list-style: none;  
}

#menu ul li a {
  text-align: center;
  list-style: none;
  color: #edeae6;
  text-decoration: none;   
  padding: 30px;
  line-height: 85px;  
}

#container {
  background: rgba(255,255,255,1);
  box-shadow: 0px 2px 7px 0px rgba(127,127,127,0.4);
  margin-top: 100px;
  border-radius: 5px;
  position: relative;
  padding: 30px 40px;
}

#content {
  float: left;
  width: 530px;
}

#editorial, #inquiry {
  width: 300px;
  background: rgba(210,208,202,0.3);
  border-radius: 3px;
  border: 4px solid rgba(255,255,255,0.68);
  box-shadow: 0px 1px 7px 0px rgba(127,127,127,0.4);
  margin-bottom: 30px;
  padding-bottom: 10px;
}

#inquiry {
  float: right;
  position: absolute;
  top: 50px;
  right: 40px;
}

#editorial h2, #lastissue h2 {
  margin-left: 15px;
  margin-top: 15px;
}

#editorial p, #lastissue p {
  margin-left: 15px;
  font-size: 14px;
  padding-bottom: 10px;
}

#publisher {
  font-size: 14px;
  background: rgba(210,208,202,0.3);
  width: 300px;
  height: 185px;
  border-radius: 3px;
  border: 4px solid rgba(255,255,255,0.68);
  box-shadow: 0px 1px 7px 0px rgba(127,127,127,0.4);
}

#publisher h2 {
  margin-left: 15px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
}

#publisher img{
  width: 140px;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  box-shadow: 0px 2px 6px 0px rgba(127,127,127,0.4);
}

#content p {
  padding-bottom: 10px;
}

#content h2, #numbers h2, #articlesfilter h2 {
  font-family: Georgia; 
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 400;
}

#publisher p {
  margin-left: 15px;
  float: left;
  padding-top: 8px;
}

#orderlink {
  display: block;
  background: rgb(51,49,77); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(51,49,77,1) 0%, rgba(60,58,91,1) 30%, rgba(60,58,91,1) 70%, rgba(51,49,77,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,49,77,1)), color-stop(30%,rgba(60,58,91,1)), color-stop(70%,rgba(60,58,91,1)), color-stop(100%,rgba(51,49,77,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(51,49,77,1) 0%,rgba(60,58,91,1) 30%,rgba(60,58,91,1) 70%,rgba(51,49,77,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(51,49,77,1) 0%,rgba(60,58,91,1) 30%,rgba(60,58,91,1) 70%,rgba(51,49,77,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(51,49,77,1) 0%,rgba(60,58,91,1) 30%,rgba(60,58,91,1) 70%,rgba(51,49,77,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(51,49,77,1) 0%,rgba(60,58,91,1) 30%,rgba(60,58,91,1) 70%,rgba(51,49,77,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33314d', endColorstr='#33314d',GradientType=1 ); /* IE6-9 */
  width: 240px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 7px 0px rgba(127,127,127,0.4);
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 16px;
}

#numbers h2 {
  padding: 30px;
}

h3 {
  clear: both;
  font-family: Georgia;
  font-size: 18px;
  font-weight: 100;
  padding-left: 30px;
  padding-bottom: 15px;
}

.inner {
  position: relative;
}

.inner img {
  position: absolute;
  width: 80px;  
  top: 20px;
  left: -100px;
}

footer {
  clear: both;
  height: 85px; 
  margin: 0 auto;
  width: 960px;
  margin-top: 20px; 
}

footer p {
  font-family: Helvetica;
  font-weight: 800;
  color: #dddad8;  
  text-shadow: 1px 1px 0px white;  
  text-align: center;
}

footer ul {
  margin: 0 auto;
  list-style: none;
  width: 450px;
}

footer ul li {
  font-family: Helvetica;
  font-size: 14px;
  float: left;
  padding: 10px;  
  padding-top: 0; 
}

br.clear {
  clear: both;
}

aside.contact {
  float: right;
}

#content form {
	margin: 0 auto;
}

#content .search {
  width: 400px;
  height: 30px;
  border: 2px solid rgba(210,208,202,0.3);
  border-radius: 3px;
  margin: 0px 0;
  font-size: 20px;
}

.button {
  padding: 10px 15px;
  background: rgba(210,208,202,0.3);
  border: 1px solid rgba(210,208,202,0.3);
  border-radius: 3px;
}

#lastissue #img1, #lastissue #img2, #issues img, .cover img {
  border: 3px solid white;
  border-radius: 3px;
  margin: 10px;
  box-shadow: 0px 2px 6px 0px rgba(127,127,127,0.4);
}

#lastissue #img1 {
  position: absolute;
  left: 30px; 
  top: 10px;
  width: 140px;
  transform: rotate(-2deg);
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari and Chrome */
  -o-transform: rotate(-2deg); /* Opera */
  -moz-transform: rotate(-2deg); /* Firefox */ 
}
  
#lastissue #img2 {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 120px;
  transform: rotate(2deg);
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Safari and Chrome */
  -o-transform: rotate(2deg); /* Opera */
  -moz-transform: rotate(2deg); /* Firefox */}

#lastissue {
  position: relative;
  width: 300px;
}

#lastissue p {
  float: left;
  margin-top: 270px;
}

div.issue {
  width: 146px;
  float: left;
}

p.title {
  margin-bottom: 40px;
  text-align: center;
}

.year h3 {
  padding-left: 0;
}

.issue img {
  border-radius: 3px;
  border: 4px solid rgba(255,255,255,0.68);
  box-shadow: 0px 1px 4px 0px rgba(127,127,127,0.4);
}

#new_inquiry {
  margin: 20px;
}

#new_inquiry .input input, #new_inquiry .input submit, #new_inquiry .input textarea {
  display: block;
  margin-bottom: 20px;
  margin-top: 5px;
  border: 1px solid #dedede;
  border-radius: 5px;
  font-size: 1em;
  color: #3a3a3a;
}

#new_order .input input, #new_order .input submit, #new_order .input textarea {
  display: block;
  margin-bottom: 20px;
  margin-top: 5px;
  border: 1px solid #dedede;
  border-radius: 5px;
  font-size: 1em;
  color: #3a3a3a;
}

#new_inquiry .input input, #new_inquiry .input textarea {
  width: 250px;
}

#new_inquiry .input input {
  height: 30px;
}

#new_inquiry .input textarea {
  height: 100px;
}

#new_order .input input {
  width: 400px;
  height: 30px;
}

#new_order .input textarea {
  width: 400px;
  height: 100px;
}

#new_inquiry .submit input {
  width: 160px;
  background: #efefef;
  height: 40px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  font-size: 1em;
  font-family: Helvetica Neue;
}

#new_inquiry textarea, #new_order textarea {
  height: 120px;
}

/*#new_order {
  margin-top: 50px;
}
*/
#new_order div {
  float: left;
  margin-right: 20px;
}

#new_order div.submit {
  clear: both;
}

#new_order .order_title input {
  width: 500px;
}

#new_order .order_name input, #new_order .order_place_and_date input, #new_order .order_email input {
  width: 320px;
}

#new_order .order_address input {
  width: 360px;
}

#new_order .order_post_id input {
  width: 116px;
}

#new_order .order_phone input, #new_order .order_fax input, #new_order .order_vat_id input {
  width: 236px;
}

#new_order .order_vat_id {
  margin-top: 30px;
}

#new_order .order_quantity, #new_order .order_comments {
  clear: both;
}

#new_order .order_quantity input {
  width: 60px;
}

table {
  width: 540px;
  background: rgba(210,208,202,0.3);
  border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0; 
}

table#articles {
  width: 880px; 
}

table thead {
  background: rgb(51,49,77); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(51,49,77,1) 0%, rgba(60,58,91,1) 30%, rgba(60,58,91,1) 70%, rgba(51,49,77,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,49,77,1)), color-stop(30%,rgba(60,58,91,1)), color-stop(70%,rgba(60,58,91,1)), color-stop(100%,rgba(51,49,77,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(51,49,77,1) 0%,rgba(60,58,91,1) 30%,rgba(60,58,91,1) 70%,rgba(51,49,77,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(51,49,77,1) 0%,rgba(60,58,91,1) 30%,rgba(60,58,91,1) 70%,rgba(51,49,77,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(51,49,77,1) 0%,rgba(60,58,91,1) 30%,rgba(60,58,91,1) 70%,rgba(51,49,77,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(51,49,77,1) 0%,rgba(60,58,91,1) 30%,rgba(60,58,91,1) 70%,rgba(51,49,77,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33314d', endColorstr='#33314d',GradientType=1 ); /* IE6-9 */
  color: white;
  text-align: left;
  font-family: Helvetica;
}

table th, table td {
  padding: 10px 10px;
}

td.article_title {
  width: 550px;
}

td.article_author {
  width: 150px;
}

td.article_issue {
  width: 80px;
}
tbody tr:nth-child(even) {
  background: rgba(210,208,202,0.3);
}

tbody tr:nth-child(odd) {
  background: #fff;
}

#gotquestion {
  margin: 20px 20px;
}

#inquiries-index #container {
  min-height: 760px;
}

div.cover img {
  width: 260px;
  position: absolute;
  top: 80px;
  right: 30px;
}

ol.articles, .section {
  width: 560px;
}

.section li {
  list-style: disc;
  margin-left: 30px;
  
}

.section h2 {
  padding: 0;
  margin: 10px 0 5px 0;
}

span.author {
  color: #a0a0a0;
}
