/*_________________________________ General _________________________________*/

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
  font-size: 15px;
  line-height: 25px;
  background: image_url('paperbg.png') repeat;
  margin-bottom: 50px;
}

h1 {
  font-family: Georgia;
  font-size: 24px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #3c3a5b;
  line-height: 32px;
}

h2 {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 15px;
}

h3 {
  clear: both;
  font-family: Georgia;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 5px;
}

h4 {
  clear: both;
}

a {
  text-decoration: none;
  color: black;
}

/*Admin*/

.admin a {
  font-size: 0.8em;
  font-weight: 800;
  color: #fff;
  display: table;
  padding: 5px;
  border: 2px solid #3c3a5b;
  background: #3c3a5b;
  float: right;
  margin-left: 10px;
  border-radius: 5px;
  line-height: 1em;
  &:hover {
    color: #fff;
    background: #F48374;
    border: 2px solid #f48374;
  }
}

#container > .admin {
  position: absolute;
  top: 30px;
  right: 40px;
}

td.admin {
  width: 200px;
  a {
    display: block;
    padding: 5px;
    line-height: 1em;
  }
}

ul {
  list-style: none;
  padding-left: 16px;
}

/*Animated bird */
.animate {
  position: relative;
}

#top {
  width: 34px;
  position: absolute;
  top: 110px;
  left: -75px;
  -webkit-animation: test 5s infinite;
}

#bottom {
  width: 90px;
  position: absolute;
  top: 20px;
  left: -110px;
}

@-webkit-keyframes test {
  0% {
    visibility: hidden;
  }

  29% {
    visibility: hidden;
  }

  30% {
    visibility: visible; 
  }

  38% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

/*_______________________________ Backdoor _______________________________*/
#backdoor {
  position: fixed;
  top: 0px;
  right: 0px;
  a {
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    &:hover {
      background: pink;
    }
  }
}

/*_________________________________ Form _________________________________*/

form input.string, textarea {
  width: 500px;
  font-size: 15px;
}

input {
  &.tel, &.email, &.text, &.password {
    width: 500px;
    font-size: 15px;
  }
}

form span.hint {
  color: #666;
  font-size: 12px;
  margin-top: -15px;
  display: block;
}

form input.string {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  font-size: 15px;
}

input {
  &.tel, &.email, &.text {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    font-size: 15px;
  }
}

select, textarea, input.password {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  font-size: 15px;
}

form input.string {
  height: 30px;
}

input {
  &.tel, &.email, &.text {
    height: 30px;
  }
}

select, input.password {
  height: 30px;
}

form .input.radio {
  label {
    padding-right: 30px;
  }
  input {
    margin-right: 5px;
  }
}

label {
  &.string, &.text, &.select, &.tel, &.email, &.file, &.integer, &.password {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
  }
}

.submit {
  margin-top: 20px;
  input {
    height: 30px;
    background: #3c3a5b;
    padding: 5px 20px;
    border: 1px solid #3c3a5b;
    border-radius: 5px;
    font-size: 15px;
    font-family: Helvetica Neue;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      background: #F48374;
      border: 1px solid #f48374;
    }
    &.disabled {
      background: #ccc;
      border-color: transparent;
      cursor: default;
    }
  }
}

fieldset {
  border-radius: 5px;
  border: 1px dashed #cccccc;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  padding: 8px;
  font-weight: 800;
  color: #3c3a5b;
  font-family: Helvetica;
  font-size: 16px;
}

/*_________________________________ Table _________________________________*/

table {
  width: 100%;
  background: rgba(210, 208, 202, 0.3);
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    background: #3c3a5b;
    color: white;
    text-align: left;
    font-family: Helvetica;
  }
  th, td {
    padding: 10px 10px;
  }
  th {
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
}

tbody tr {
  border-bottom: 2px solid #ebebee;
  background: #fff;
  &:hover {
    background: #f5f5f6;
  }
  a:hover {
    border-bottom: 1px dotted #c0c0c0;
    color: #F48374;
  }
}

/*_________________________________ Layout _________________________________*/

header .inner, #container {
  margin: 0 auto;
}

header {
  height: 70px;
  background: rgb(51, 49, 77);
  background: -moz-linear-gradient(left, rgba(51, 49, 77, 1) 0%, rgba(60, 58, 91, 1) 30%, rgba(60, 58, 91, 1) 70%, rgba(51, 49, 77, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(51, 49, 77, 1)), color-stop(30%, rgba(60, 58, 91, 1)), color-stop(70%, rgba(60, 58, 91, 1)), color-stop(100%, rgba(51, 49, 77, 1)));
  background: -webkit-linear-gradient(left, rgba(51, 49, 77, 1) 0%, rgba(60, 58, 91, 1) 30%, rgba(60, 58, 91, 1) 70%, rgba(51, 49, 77, 1) 100%);
  background: -o-linear-gradient(left, rgba(51, 49, 77, 1) 0%, rgba(60, 58, 91, 1) 30%, rgba(60, 58, 91, 1) 70%, rgba(51, 49, 77, 1) 100%);
  background: -ms-linear-gradient(left, rgba(51, 49, 77, 1) 0%, rgba(60, 58, 91, 1) 30%, rgba(60, 58, 91, 1) 70%, rgba(51, 49, 77, 1) 100%);
  background: linear-gradient(to right, rgba(51, 49, 77, 1) 0%, rgba(60, 58, 91, 1) 30%, rgba(60, 58, 91, 1) 70%, rgba(51, 49, 77, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33314d', endColorstr='#33314d',GradientType=1);
  border-bottom: 2px solid white;
  .inner {
    width: 880px;
  }
}

#container {
  width: 880px;
}

header .inner {
  position: relative;
  img {
    position: absolute;
    width: 80px;
    top: 20px;
    left: -100px;
  }
  #logo {
    position: absolute;
    left: 0px;
    h1 {
      font-size: 40px;
      font-family: Pacifico;
      color: #292646;
      line-height: 85px;
      margin: 0;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
      position: absolute;
    }
    img {
      width: 220px;
      height: 90px;
      position: absolute;
      top: 10px;
      left: -15px;
    }
  }
}

/*Vzgojiteljica Logo*/

#menu {
  position: absolute;
  right: -40px;
  ul li {
    float: left;
    list-style: none;
    a {
      display: block;
      text-align: center;
      color: #edeae6;
      text-decoration: none;
      padding: 35px 20px 20px 20px;
      line-height: 15px;
      height: 15px;
    }
    &.current, a:hover {
      background: #f48374;
    }
  }
}

#container {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 7px 0px rgba(127, 127, 127, 0.4);
  margin-top: 100px;
  border-radius: 5px;
  position: relative;
  padding: 30px 40px;
}

footer {
  clear: both;
  height: 85px;
  margin: 0 auto;
  width: 880px;
  padding: 0 40px;
  margin-top: 20px;
  position: relative;
  color: #b3b3b3;
  text-shadow: 1px 1px 0px white;
  font-size: 0.8em;
  #lower_menu {
    position: absolute;
    right: 40px;
    top: 0;
    color: #b3b3b3;
    font-size: 12px;
    text-shadow: 1px 1px 0px white;
    text-align: right;
    line-height: 1.4em;
  }
  #login {
    clear: both;
    a {
      color: #ccc;
    }
  }
  p {
    line-height: 1.4em;
  }
  a {
    color: #b3b3b3;
  }
  ul li {
    a {
      padding: 0 5px;
    }
    &:last-child a {
      padding-right: 0;
    }
  }
}

br.clear {
  clear: both;
}

/*______________________________ Generic progress bar ___________________________*/

#progress {
  width: 400px;
  .bar {
    background: #3c3a5b;
    border-radius: 3px;
    height: 20px;
  }
}

/*____________________________ Generic pagination class _________________________*/

.pagination_top {
  margin-bottom: 10px;
  margin-top: 30px;
}

.pagination_bottom {
  margin-top: 10px;
}

.pagination span {
  float: left;
  margin-right: 9px;
  &:last-child {
    margin-right: 0;
  }
  &.current {
    display: table;
    font-size: 11px;
    line-height: 14px;
    padding: 2px 6px;
    text-align: center;
    background: #efefef;
    border-radius: 3px;
    border: 1px solid transparent;
  }
  a {
    display: table;
    font-size: 11px;
    line-height: 14px;
    padding: 2px 6px;
    text-align: center;
    background: #efefef;
    border-radius: 3px;
    border: 1px solid transparent;
    &:hover {
      background: #F48374;
      border: 1px solid #f48374;
      color: #fff;
    }
  }
  &.current {
    background: rgb(51, 49, 77);
    color: #fff;
    font-weight: bold;
  }
}

/*_________________________________ Pages Index _________________________________*/

#pages-index {
  #content {
    float: left;
    width: 550px;
  }
  aside.contact {
    float: right;
  }
  #editorial {
    background: rgba(210, 208, 202, 0.3);
    border-radius: 5px;
    border: 4px solid rgba(255, 255, 255, 0.68);
    box-shadow: 0px 1px 7px 0px rgba(127, 127, 127, 0.4);
  }
}

/*Aside*/

#inquiries-index #inquiry, #search, .about {
  background: rgba(210, 208, 202, 0.3);
  border-radius: 5px;
  border: 4px solid rgba(255, 255, 255, 0.68);
  box-shadow: 0px 1px 7px 0px rgba(127, 127, 127, 0.4);
}

#pages-index #editorial, #inquiries-index #inquiry, .about {
  width: 300px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

#pages-index {
  #editorial h2, #lastissue h2 {
    margin-left: 15px;
    margin-top: 15px;
  }
  aside a:hover {
    border-bottom: 1px dotted #c0c0c0;
    color: #F48374;
  }
  #editorial p, #lastissue p {
    margin-left: 15px;
    font-size: 14px;
    padding-bottom: 10px;
  }
  #publisher {
    font-size: 14px;
    background: rgba(210, 208, 202, 0.3);
    width: 300px;
    height: 185px;
    border-radius: 5px;
    border: 4px solid rgba(255, 255, 255, 0.68);
    box-shadow: 0px 1px 7px 0px rgba(127, 127, 127, 0.4);
    h2 {
      margin-left: 15px;
      margin-top: 15px;
      font-family: Georgia;
      font-weight: 400;
      font-size: 20px;
    }
    img {
      width: 140px;
      margin-left: 15px;
      margin-top: 10px;
      margin-right: 10px;
      float: left;
      box-shadow: 0px 2px 6px 0px rgba(127, 127, 127, 0.4);
    }
  }
}

/*Aside Pozoj's contact info*/

/*Pozoj Logo*/

#content p {
  padding-bottom: 10px;
}

#pages-index {
  #content h2 {
    font-family: Georgia;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 400;
  }
  #publisher p {
    margin-left: 15px;
    float: left;
    padding-top: 8px;
  }
  #orderlink {
    display: block;
    background: #3c3a5b;
    width: 230px;
    margin-top: 20px;
    border: 1px solid #3c3a5b;
    border-radius: 5px;
    font-size: 1em;
    font-family: Helvetica Neue;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    &:hover {
      background: #f48374;
      border: 1px solid #f48374;
    }
  }
}

/*_________________________________ Login _________________________________*/

#sessions-new form input.string, input.password {
  width: 300px;
}

#sessions-new form input.boolean {
  width: 20px;
  margin: 20px 0;
}

label.boolean {
  margin: 20px 0;
}

/*_________________________________ Articles Pages _________________________________*/

/*Keyword Search*/

#articles-index #search_toggle {
  position: absolute;
  top: 40px;
  right: 40px;
  display: table;
  padding: 10px 20px;
  padding-left: 45px;
  background: #efefef image_url('icon_search.png') 3px 1px no-repeat;
  border-radius: 5px;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #f48374;
    color: #fff;
    background-color: #f48374;
    background-position: 3px -46px;
  }
}

#articles-search {
  #search_toggle {
    display: none;
  }
  #search {
    display: block;
    form {
      margin-top: 20px;
    }
  }
}

.articles #search {
  display: none;
  margin-bottom: 20px;
  padding: 20px;
  #instructions ul li {
    list-style: disc inside;
  }
  #query {
    float: left;
    width: 710px;
    height: 30px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin: 0px 0;
    font-size: 15px;
    padding: 0 5px;
  }
  .submit {
    float: left;
    display: inline;
    height: 33px;
    background: #3c3a5b;
    border: 1px solid rgba(210, 208, 202, 0.3);
    border-radius: 5px;
    font-size: 15px;
    font-family: Helvetica Neue;
    color: #fff;
    width: 100px;
    margin-left: 10px;
    margin-top: -1px;
    cursor: pointer;
    &:hover {
      background: #F48374;
      border: 1px solid #f48374;
    }
  }
}

/*List of articles*/

#articles-index table#articles, #articles-search table#articles {
  width: 880px;
  margin-top: 10px;
}

#articles-index td.article_title, #articles-search td.article_title {
  width: 550px;
}

#articles-index td.article_author, #articles-search td.article_author {
  width: 150px;
}

#articles-index td.article_issue, #articles-search td.article_issue {
  width: 80px;
}

/*Articles Show*/

#articles-show {
  #container #abstract {
    width: 560px;
    min-height: 400px;
    float: left;
  }
  #abstract .data {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

#authors-show .data {
  margin-top: 20px;
  margin-bottom: 30px;
}

#articles-show {
  #abstract a:hover {
    border-bottom: 1px dotted #c0c0c0;
    color: #F48374;
  }
  div.cover {
    width: 260px;
    float: left;
    margin-left: 30px;
    img {
      display: block;
      width: 260px;
      border: 4px solid rgba(255, 255, 255, 0.68);
      box-shadow: 0px 1px 7px 0px rgba(127, 127, 127, 0.4);
    }
  }
  ol.articles {
    width: 560px;
  }
}

.section {
  width: 560px;
}

#articles-show {
  .section {
    li {
      list-style: disc;
      margin-left: 30px;
    }
    h2 {
      padding: 0;
      margin: 10px 0 5px 0;
    }
  }
  span.author {
    color: #a0a0a0;
  }
}

#articles-new, #articles-edit {
  form {
    #article_keyword_ids, #article_author_ids {
      width: 800px;
    }
  }
}

/*_________________________________ Issues Pages _________________________________*/

#issues-index {
  div.issue {
    float: left;
    margin-right: 23px;
  }
  p.title {
    margin-bottom: 40px;
    text-align: center;
  }
  .year h3 {
    padding-left: 0;
  }
  .issue img {
    width: 115px;
    border-radius: 3px;
    border: 4px solid rgba(255, 255, 255, 0.68);
    box-shadow: 0px 1px 4px 0px rgba(127, 127, 127, 0.4);
  }
}

/*Issues All*/

#issues-all td img {
  width: 50px;
}

/*Issues Show*/

#issues-show {
  #container {
    min-height: 400px;
  }
  div.cover {
    width: 270px;
    position: absolute;
    top: 100px;
    right: 40px;
    img {
      width: 260px;
      border: 4px solid rgba(255, 255, 255, 0.68);
      box-shadow: 0px 1px 7px 0px rgba(127, 127, 127, 0.4);
    }
  }
  .section h2 {
    margin-bottom: 0;
  }
  span.author {
    color: #999999;
  }
  .section a:hover {
    border-bottom: 1px dotted #c0c0c0;
    color: #F48374;
  }
  ol {
    list-style: none;
    margin-left: 20px;
  }
  span.author {
    color: #999999;
    a {
      color: #999999;
    }
  }
  div.cover {
    position: absolute;
  }
  #download_issue {
    display: block;
    background: #3c3a5b;
    width: 130px;
    margin-top: 10px;
    border: 1px solid #3c3a5b;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    position: relative;
    left: 55px;
    a {
      color: #fff;
    }
    &:hover {
      background: #f48374;
      border: 1px solid #f48374;
    }
  }
}

/*Issues New*/

#issues-new select#issue_year, label.date.optional {
  display: block;
  margin-bottom: 5px;
}

#issues-new form div {
  margin-bottom: 20px;
}

/*_________________________________ Inquiry Page _________________________________*/

#inquiries-index {
  #container {
    min-height: 840px;
  }
  #content {
    width: 550px;
  }
  #inquiry {
    float: right;
    position: absolute;
    top: 90px;
    right: 40px;
  }
  #new_inquiry {
    margin: 20px;
    .input {
      input, submit, textarea {
        display: block;
        margin-bottom: 20px;
        margin-top: 5px;
        border: 1px solid #b3b3b3;
        border-radius: 5px;
        font-size: 1em;
        color: #3a3a3a;
      }
      input, textarea {
        width: 250px;
      }
      input {
        height: 30px;
      }
      textarea {
        height: 150px;
      }
    }
    textarea {
      height: 120px;
    }
  }
  td.question_title {
    width: 280px;
  }
  td.created_at {
    text-align: right;
    color: #999999;
  }
  #gotquestion {
    margin: 20px 20px;
  }
}

/*Width of "Question" head row in table*/

#inquiries-edit {
  form div {
    margin-bottom: 20px;
  }
  textarea {
    height: 100px;
  }
}
#inquiries-show #question {
  span, .author {
    color: #999;
  }
  span {
    padding: 0 2px;
  }
}
#inquiries-show #answer {
  max-width: 500px;
  padding: 5px;
  background: rgba(210, 208, 202, 0.3);
  border-radius: 5px;
  border: 4px solid rgba(255, 255, 255, 0.68);
  box-shadow: 0px 1px 7px 0px rgba(127, 127, 127, 0.4);
  margin-top: 20px;
}

#inquiries-answer_question {
  span.author {
    color: #999999;
  }
  .edit_inquiry textarea {
    height: 150px;
  }
}

/*_________________________________ Order Page _________________________________*/

#orders-new {
  .notice {
    margin: 20px 0;
  }
  div.submit {
    clear: both;
  }
  .input {
    width: 400px;
    input, textarea, select#order_post_id {
      width: 380px;
    }
    input {
      &#order_quantity {
        width: 89px;
      }
      height: 30px;
    }
    textarea {
      height: 30px;
    }
    input, submit, textarea {
      display: block;
      margin-bottom: 20px;
      margin-top: 5px;
      border: 1px solid #b3b3b3;
      border-radius: 5px;
      font-size: 1em;
      color: #3a3a3a;
    }
    float: left;
  }
  fieldset {
    clear: left;
    div {
      margin-left: 10px;
    }
  }
  .order_comments {
    clear: both;
  }
  #order_comments {
    height: 100px;
  }
}

/*_________________________________ Authors Page _________________________________*/

#authors-show {
  #container {
    a:hover {
      border-bottom: 1px dotted #c0c0c0;
      color: #F48374;
    }
    .admin a:hover {
      color: #fff;
    }
  }
  span.author {
    color: #999999;
    a {
      color: #999999;
    }
  }
  ul {
    padding-left: 0;
  }
}

/*_________________________________ PD Page _________________________________*/

#news-index
  .news {
    float: left;
    width: 520px;
    margin-bottom: 5px;
    padding: 5px 0;
  }
  .body {
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid silver;
  }
  aside.about {
    float: right;
    margin-top: 10px;
    padding: 10px;
  }
  h3 {
    margin: 0;
  }
  p.date {
    font-size: 12px;
    line-height: 13px;
    color: #999999;
  }
  #download {
    display: block;
    background: #3c3a5b;
    width: 180px;
    margin-top: 10px;
    border: 1px solid #3c3a5b;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    position: relative;
    left: 55px;
    a {
      color: #fff;
    }
    &:hover {
      background: #f48374;
      border: 1px solid #f48374;
    }
  }
